<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">
      Egreso <small>Registrar un egreso</small>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Rellene todos los campos con los datos solicitados
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <form ng-controller="movController" ng-init="updateList('proveedor');clean()" ng-submit="submitForm('0')" role="form">
              <div class="form-group has-{{state}}">
                <label class="control-label">{{message}}</label>
              </div>
              <div class="form-group">
                <label>Proveedor</label>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group input-group">
                      <input ng-model="search" ng-init="search = ''" type="text" placeholder="Buscar proveedor" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="search = ''" type="button"><i class="fa fa-times"></i>
                        </button>
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <select ng-model="form.uid" class="form-control">
                      <option name="uid" ng-repeat="cliente in lista" ng-if="cliente.nombre.toUpperCase().indexOf(search.toUpperCase()) !== -1 ||cliente.id.toUpperCase().indexOf(search.toUpperCase()) !== -1 ||cliente.telefono.toUpperCase().indexOf(search.toUpperCase()) !== -1" value="{{cliente.id}}">{{cliente.id}} - {{cliente.nombre}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <label>Monto total</label>
              <div class="form-group input-group">
                <span class="input-group-addon">$</span>
                <input name="total" ng-model="form.total"  type="text" class="form-control">
              </div>
              <label>Monto entregado</label>
              <div class="form-group input-group">
                <span class="input-group-addon">$</span>
                <input name="entregado" ng-model="form.entregado"  type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Detalle</label>
                <textarea name="detalle" ng-model="form.detalle" class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Registrar Egreso</button>
              <button type="reset" class="btn btn-default">Limpiar Formulario</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
