<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">
      Resumen <small>Sumario de Ilusiones</small>
    </h1>
  </div>
</div>
<!-- /. ROW  -->
<div class="row" ng-controller="movController" ng-init="fecha = 'dia';getResumen(fecha)">
  <div class="panel panel-default">
    <div class="panel-heading">
      Acciones.
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary" ng-click="fecha = 'dia';getResumen(fecha)">
            Info del día
          </button>
          <button class="btn btn-primary" ng-click="fecha = 'mes';getResumen(fecha)">
            Info del mes
          </button>
          <button class="btn btn-primary" ng-click="fecha = 'año';getResumen(fecha)">
            Info del año
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 col-xs-12">
    <div class="panel panel-primary text-center no-boder bg-color-brown">
      <div class="panel-body">
        <i class="fa fa-usd fa-5x"></i>
        <h3>${{resumen.total}}</h3>
      </div>
      <div class="panel-footer back-footer-brown">
        Ganancia en el {{fecha}}
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 col-xs-12">
    <div class="panel panel-primary text-center no-boder bg-color-green">
      <div class="panel-body">
        <i class="fa fa-plus fa-5x"></i>
        <h3>${{resumen.ingresos}}</h3>
      </div>
      <div class="panel-footer back-footer-green">
        Ingresos en el {{fecha}}
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 col-xs-12">
    <div class="panel panel-primary text-center no-boder bg-color-red">
      <div class="panel-body">
        <i class="fa fa-minus fa-5x"></i>
        <h3>${{resumen.egresos}}</h3>
      </div>
      <div class="panel-footer back-footer-red">
        Egresos en el {{fecha}}
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 col-xs-12">
    <div class="panel panel-primary text-center no-boder bg-color-blue">
      <div class="panel-body">
        <i class="fa fa-shopping-cart fa-5x"></i>
        <h3>{{resumen.ventas}}</h3>
      </div>
      <div class="panel-footer back-footer-blue">
        Ventas en el {{fecha}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">
      Deudas <small>Clientes y proveedores</small>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Clientes deudores
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Id.</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Otros datos</th>
                <th>Adeuda</th>
              </tr>
            </thead>
            <tbody ng-controller="clientController" data-ng-init="updateList()">
              <tr ng-repeat="cliente in lista" ng-if="cliente.estado == 'd'">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.telefono}}</td>
                <td>{{cliente.extra}}</td>
                <td class="bg-color-red">${{cliente.deuda}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Deudas a proveedores
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Id.</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Otros datos</th>
                <th>Adeuda</th>
              </tr>
            </thead>
            <tbody ng-controller="providerController" data-ng-init="updateList()">
              <tr ng-repeat="cliente in lista" ng-if="cliente.estado == 'd'">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.telefono}}</td>
                <td>{{cliente.extra}}</td>
                <td class="bg-color-red">${{cliente.deuda}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
