<div class="modal-body">
  <form ng-controller="providerController"  name="proveedorForm" ng-submit="submitForm()" role="form">
    <div class="panel-heading">
      Rellene todos los campos con los datos solicitados
    </div>
    <div class="form-group has-{{state}}">
      <label class="control-label">{{message}}</label>
    </div>
    <div class="form-group">
      <label>* Nombre</label>
      <input name="nombre" autocomplete="off" ng-model="form.nombre" class="form-control">
    </div>
    <div class="form-group">
      <label>* Numero de Telefono</label>
      <input name="telefono"  autocomplete="off" ng-model="form.telefono" class="form-control">
    </div>
    <div class="form-group">
      <label>Correo Electrónico</label>
      <input name="email"  autocomplete="off" ng-model="form.email" ng-init="form.email = ''" class="form-control">
    </div>
    <div class="form-group">
      <label>Pagina web</label>
      <input name="web"  autocomplete="off" ng-model="form.web" ng-init="form.web = ''" class="form-control">
    </div>
    <div class="form-group">
      <label>Datos Extras</label>
      <textarea name="extra" ng-model="form.extra" ng-init="form.extra = ''" class="form-control" rows="3"></textarea>
    </div>
    <div class="modal-footer">
      <button type="reset" class="btn btn-default" ng-click="clean()">Limpiar Formulario</button>
      <button type="submit" class="btn btn-primary" ng-click="updateList()" >Agregar proveedor</button>
    </div>
  </form>
</div>
